# 판다스의 자료형

#### 자료형 변환

In [ ]:
자료형 변환은 데이터 분석 과정에서 반드시 알아야하는 중요한 요소
카테고리는 문자열로 변환해야 데이터 분석을 더 수월하게 할 수 있기 때문에 자주 변화해주는 자료형
전화번호 같은 경우 숫자로 입력이 되어있지만, 오히려 문자열처럼 다루는 경우가 많음 => 평균이나 더하는 계산 사용 x

#### 문자열 변환하는 방법

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips =sns.load_dataset('tips')

In [ ]:
자료형을 변환할려면 astype 메서드를 사용하면 된다.

In [10]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [14]:
tips['sex_str'] = tips.sex.astype(str)

In [15]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [ ]:
잘못 입력한 데이터 처리하기
정수가 있어야하는 열에 문자열이 입력되어있다면, to_numeric메서드 활용

In [16]:
new_tips =tips.head(10)
new_tips.loc[[1,3,5,7], 'total_bill'] = 'missing'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [17]:
new_tips

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [19]:
new_tips.dtypes @ missing 이라는 문자열 때문에 object 로 표시

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [ ]:
pd.to_numeric 메서드
pd.to_numeric(dataframe.열이름)
이 메서드도 문자열을 실수로는 바꿀 수 없음 / 하지만 오류를 어느 정도 제어는 가능
errors 인자에
1. raise : 숫자로 변환할 수 없는 값이 있으면 오류 발생
2. coerce(억압,강요하다) : 숫자로 변환할 수 없는 값을 누락값(nan)으로 지정 => 누락값이 생기지만 실수(float64)로 변환
3. ignore : 아무 작업도 하지 않음 => 오류를 발생시키지 않지만 자료형도 변하지 않음

downcast 인자
정수(int), 실수(float)와 같은 자료형을 더 작은 형태로 만들 때 사용
=> 다운캐스트
integer, signed, unsigned, float 등의 값을 인잣값으로 사용할 수 있음
pd.to_numeric(dataframe.열이름, errors = 'coerce', downcast= float32)
메모리 공간을 효율적으로 사용하기 위해 범위가 크지않는 한 다운캐스트를 해주는 것이 좋다.

#### 카테고리 자료형

In [ ]:
유효한 범위의 값을 가질 수 있는 카테고리라는 특수한 자료형
=> 용량과 속도 면에서 더 효율적 / 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용

In [ ]:
dataframe.열이름.astype('category')